.reg-container {
    animation-name: reg-appear;
    animation-duration: 0.9s;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: white;
    font-size: medium;
    align-items: center;
    background: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    width: 90%;
    gap: 10px;
    max-width: 1200px;
    margin-bottom: 20px;
    padding: 30px 40px;
}

.header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: grey
}

.header > [data-title="true"] {
    font-size: 28px;
    font-weight: bold;
    color: var(--main-text-color);
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.field-name {
    font-weight: 600;
}

@keyframes reg-appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.reg-container > input {
    margin-bottom: 10px;
}

.reg-container > p {
    margin-bottom: 20px;
    color: #666;
}

.reg-container > h1 {
    color: #333;
    font-size: 26px;
    margin-bottom: 8px;
}



/* =====================reg-change-mode-button===================== */

.reg-change-mode-button {
    color: #6a11cb;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.reg-change-mode-button:hover {
    text-decoration: underline;
    cursor: pointer;
}



/* ===================conditions-button========================== */

.conditions-button {
    color: #6a11cb;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.conditions-button:hover {
    text-decoration: underline;
    cursor: pointer;
}



/* ========================reg-form-fields======================= */

.reg-form-fields {
    width: 100%;
    margin-right: 28px;
}

.reg-form-fields > div {
    margin-bottom: 20px;
    width: 100%;
}

.reg-form-fields > div > p {
    display: block;
    color: #333;
    font-weight: 500;
    text-align: left;
}

.reg-form-fields > div > input {
    width: 100%;
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border 0.3s ease;
}

.reg-form-fields > div > input:focus {
    border-color: #6a11cb;
    outline: none;
    box-shadow: 0 0 0 2px rgba(106, 17, 203, 0.2);
}

/* ===========================reg-button========================== */

.reg-button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 00;
    cursor: pointer;
}



/* ======================reg-agreement-form======================== */

.reg-agreement-form {
    margin-bottom: 5px;
    margin-top: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reg-agreement-form:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(106, 17, 203, 0.4);
}



/* =====================reg-error-message========================= */

.reg-error-message {
    font-size: 14px;
    color: rgb(240, 77, 77);
    animation-name: reg-error-message-appear;
    animation-duration: 1s;
}

@keyframes reg-error-message-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
