:root {
  --main-text-color: #4d4d4d;
  --main-bg-color: #f1f1f1;
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 13px;
  color: var(--main-text-color);
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
}

#root {
  height: 100%;
  width: 100%;
}
